<div id="primary">
	<div class="thumbnail">
  		<img src="{{icon}}" alt="" class="img-rounded">
	    <div class="caption">
        <h1 class="product-name">{{name}}</h1>
				<p>{{shortDesc}}</p>
				<div class="details" id="life-cycle"></div>
			</div>
	</div>
  <section id="extra">
    <div id="screenshots"></div>
    <div id="review-graph"></div>
  </section>

</div>

<section id="seccondary">

</section>
