<ul class="nav nav-tabs">
  <li class="active"><a href="#description" data-bypass data-toggle="tab">Description <i class="icon-pencil" title=""></i></a></li>
  <li><a href="#reviews" data-bypass data-toggle="tab">Reviews <i class="icon-comments" title=""></i></a></li>
  <li><a href="#related-apps" data-bypass data-toggle="tab">Related Apps <i class="icon-retweet" title=""></i></a></li>
</ul>
<div class="tab-content">
  <div class="tab-pane active" id="description">
    <pre class="description">{{longDesc}}</pre>
  </div>
  <div class="tab-pane" id="reviews" data-container="reviews"></div>
  <div class="tab-pane" id="related-apps" data-container="related-apps"></div>
</div>

