<div class="thumbnail">
    {{#if promoted}}
      <h4 class="ribbon">Promoted</h4>
    {{/if}}
    <div class="caption">
        <h5>{{name}}</h5>
        <p>{{shortDesc}}</p>
        <div id="life-cycle"></div>
    </div>
</div>
