<div class="accordion-group">
  <div class="accordion-heading">
    <a class="accordion-toggle" data-toggle="collapse" data-parent=".accordion.one" href="#description" data-bypass>
      Description <i class="icon-pencil" title=""></i>
    </a>
  </div>
  <div id="description" class="accordion-body collapse">
    <div class="accordion-inner">
      <pre class="description">{{longDesc}}</pre>
    </div>
  </div>
</div>
<div class="accordion-group">
  <div class="accordion-heading">
    <a class="accordion-toggle" data-toggle="collapse" data-parent=".accordion.one" href="#reviews" data-bypass>
      Reviews <i class="icon-comments" title=""></i>
    </a>
  </div>
  <div id="reviews" class="accordion-body collapse">
    <div class="accordion-inner" data-container="reviews">

    </div>
  </div>
</div>
<div class="accordion-group">
  <div class="accordion-heading">
    <a class="accordion-toggle" data-toggle="collapse" data-parent=".accordion.one" href="#related-apps" data-bypass>
      Related apps <i class="icon-retweet " title=""></i>
    </a>
  </div>
  <div id="related-apps" class="accordion-body collapse">
    <div class="accordion-inner" data-container="related-apps">

    </div>
  </div>
</div>
