<!-- Carousel items -->
<div id="shadow-container">
  <div class="carousel-inner">

  </div>
</div>

<!-- Carousel nav -->
<a class="carousel-control left hidden" href="#{{id}}" data-bypass data-slide="prev">&lsaquo;</a>
<a class="carousel-control right hidden" href="#{{id}}" data-bypass data-slide="next">&rsaquo;</a>
