<div class="navbar navbar-fixed-top one">
    <div class="navbar-inner">

    </div>
</div>


<div id="main-content" class="row-fluid layout">

</div>

<div id="notify"></div>


<div id="modal"></div>
