<form class="navbar-search pull-right" method="get" action="/search">
	<div class="search-box">
	  <input type="text" class="search-query" placeholder="Search">
	  <i class="icon-search"></i>

	  <ul id="suggestions"></ul>
	  
	</div>
</form>