<section class="search">

  <div class="message">
    <div class="alert alert-info">
      Se han encontrad <strong>XXX</strong> resultados para la busqueda <strong>bla bla</strong>
    </div>

    <div class="alert alert-block">
      Lo sentimos no hemos encontrado resultados para la busqueda <strong>bla bla</strong>
    </div>
  </div>


  <div id="applications-list"></div>

</section>

