<!DOCTYPE html>
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>WASt</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="shortcut icon" href="/images/wast.ico">

    <!-- build:css /css/<%= pkg.name %>.css -->
    <link rel="stylesheet" href="/css/main.css">
    <!-- endbuild -->
    <!-- build:js /js/modernizr.min.js -->
    <script src="/js/libs/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>
    <!-- Add your site or application content here -->
    <!-- Main container. -->
    <div role="main" id="app" class="container-fluid"></div>


    <script src="/socket.io/socket.io.js"></script>
    <!-- build:js /js/<%= pkg.name %>.js -->
    <script data-main="/js/config" src="/js/libs/require.js"></script>
    <!-- endbuild -->
  </body>
</html>
